<div class="info-card">
    <span class="info-card-title">Situação cadastral do CPF</span>
    <span class="info-card-subtitle">Consulta na receita federal</span>
    <div class="info-card-content">
        <fa-icon class="user" [icon]="['fas', 'user']"></fa-icon>
        <div class="content">
            <span class="info-card-content-title">
                Nome
            </span>
            <span class="info-card-content-name">
                Mariane de Sousa Oliveira
            </span>
        </div>
    </div>
    <div class="info-card-content">
        <fa-icon class="check" [icon]="['far', 'circle-check']"></fa-icon>
        <div class="content">
            <span class="info-card-content-title">
                Situação do CPF
            </span>
            <span class="info-card-content-name">
                Regular
            </span>
        </div>
    </div>
</div>
